.main-bg {
  background: url("./images/icons/background.svg") repeat;
}

.white-transparent{
  background-color: rgba(255, 255, 255, 0.9);
}

.icon-text{
    font-size: 8px;
    width: 100%;
    bottom: 0px;
    right: 3px;
    text-align: right;
}

.temp-text{
  font-size: 7px;
  width: 100%;
  bottom: 11px;
  right: 2px;
  text-align: right;
}

.pagination a.active {
  background-color: green;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}